.eleventy.js export-ignore
.eslintrc.js export-ignore
webpack.config.js export-ignore
.husky/**/* export-ignore
tests/assets/**/* export-ignore
examples/**/* export-ignore

*.ts linguist-detectable=true
*.* linguist-detectable=false