.eleventy.js export-ignore
.eslintrc.js export-ignore
webpack.config.js export-ignore
.husky/**/* export-ignore
tests/assets/**/* export-ignore
examples/**/* linguist-documentation

*.*js* linguist-vendored