*.code-workspace
.github
.husky
dist
examples
src

.eleventy.js
.eleventyignore
.eslintignore
.eslintrc.js
.gitattributes
.prettierignore
.prettierrc.json
.releaserc.json

conduct.md
contributing.md
index.md
jest.*.js
tsconfig.json
webpack.config.js

test/assets
test/node_modules